@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome!</h2>
        <p>
            It is a chat application. Application was created by using ASP.NET MVC5 and SignalR.
        </p>
        <p>
            @Html.ActionLink("Enter to Chat", "Chat", "Home")
        </p>
    </div>
</div>