@{
    ViewBag.Title = "Chat Room(Persistent)";
}

<h2 class="alert alert-secondary" role="alert">Chat with your friends(Persistent)</h2>

<div id="block-login" class="form-horizontal">
    Enter a Username:<br />
    <input id="inputUserName" type="text" />
    <input id="buttonLogin" type="submit" value="Login" />
</div>
<div id="block-chat" class="container" style="display:none">
    <div id="greeting-section"></div>
    <div class="row">
        <div class="col-sm-6">
            <div id="chat-messages" style="height:300px; overflow-y:auto"></div>

            <div id="message-block">
                <input type="text" id="inputMessage" />
                <input type="button" id="buttonSendMessage" value="Send" />
            </div>
        </div>
        <div class="col-sm-6">
            <p><b>User list</b></p>
            <ul id="chat-users" class="list-group"></ul>
        </div>
    </div>
</div>

<input id="hiddenUserId" type="hidden" />
<input id="hiddenUserName" type="hidden" />

@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.4.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/signalR-utils/persistent-utils.js")"></script>
}
